<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TOM运维平台-重置密码</title>
</head>
<body>
<div style="margin: 15% 40%;">
      {% if dict_info %}
          <div>{{ dict_info }}</div>
      {% endif %}
        <h1>重置密码</h1>
       <form action="/update_password/" method="post">
           {% csrf_token %}
            <p>
                <label for="id_username">用户名：</label>
                <input type="text" id="id_username" name="username" placeholder="用户名" autofocus required />
            </p>
            <p>
                <label for="id_username">密码：</label>
                <input type="text" id="id_username" name="password1" placeholder="密码" autofocus required />
            </p>
            <p>
                <label for="id_username">再次输入密码：</label>
                <input type="text" id="id_username" name="password2" placeholder="密码" autofocus required />
            </p>
           <input type="submit" value="确定">
        </form>
    </div>
</body>
</html>